{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
    

</head>
<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
    {% block content %}
    {% include 'All/sidebar.html' %}
	{% include 'All/navbar.html' %}
    
	
	<section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">{{file.title}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form method = "POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <dl class="dl-horizontal row">
                                    <dt class="col-sm-3">File Name :</dt>
                                    <dd class="col-sm-9">{{file.title}}</dd>

                                    <dt class="col-sm-3">File Id</dt>
                                    <dd class="col-sm-9">{{file.file_id}}</dd>
                                    
                                    <dt class="col-sm-3">File Hash</dt>
                                    <dd class="col-sm-9">{{file.file_hash}}</dd>

                                    <dt class="col-sm-3">Upload Time</dt>
                                    <dd class="col-sm-9">{{file.created}}</dd>
                                </dl>
                                {{form.as_p}}
                                <button type = "submit" class="btn  btn-primary">submit</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
    
        </div>
    </section>
    



    {% endblock %}

    <!-- Required Js -->
    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>

<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>


<!-- custom-chart js -->
<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>
</body>


</html>
